<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQBEAe1QNv_p0hAbtroPl9E50h0uMa5d8</string>
	<key>GCM_SENDER_ID</key>
	<string>478678510102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mathtarea</string>
	<key>PROJECT_ID</key>
	<string>mathtarea-c6f74</string>
	<key>STORAGE_BUCKET</key>
	<string>mathtarea-c6f74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478678510102:ios:60ff8727d114bf393ce337</string>
</dict>
</plist>